@import "@radix-ui/themes/tokens/base.css";

.icon-container--large {
  width: 48px;
  height: 48px;
}
.layout {
  display: flex;
  flex-direction: column;
}
.layout__sidebar {
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 2;
  top: 0;
  overflow: hidden;
}
.layout__sidebar--visible {
  width: 256px;
  box-shadow: 54px 2px 95px -30px rgba(0, 0, 0, 0.48);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
}

.layout__sidebar-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.layout__sidebar-item:hover {
  background-color: var(--mauve-4); /* Hover state */
}

.layout__sidebar-item--active {
  background-color: var(--mauve-6); /* Active state */
}
.dialog-title {
  font-weight: var(-font-weight-bold);
  margin: 0;
}

.dialog-content {
  background-color: var(--gray-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100vw;
  height: 100vh; */
  min-width: 350px;
  padding: var(--space-2);
}
.dialog-overlay {
  background-color: var(--black-a9);
  position: absolute;
  inset: 0;
}

.search-popover {
  position: absolute;
  background-color: var(--gray-1);
  padding: var(--space-2);
  width: 100%;
}

.search-popover__item {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
  padding: var(--space-2);
  cursor: pointer;
}

.search-popover__item:hover {
  background-color: var(--iris-3);
}

.close-icon > path {
  fill: var(--mauve-12);
  stroke-width: 35;
}
@media screen and (min-width: 768px) {
  .layout {
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100vh;
  }
  .layout__sidebar {
    position: static;
    width: 256px;
    grid-row: 1 / span 2;
    padding-left: 5px;
    padding-right: 5px;
  }
}
